<section
  class="section-wrapper flex-column flex-center align-center mt-1"
  id="preguntas"
  >
  <div class="bckgr-img"></div>
  <header class="terciary-color">PREGUNTAS FRECUENTES</header>

  <main class="flex-column align-center">
    <div class="title">Información útil sobre los sistemas solares</div>
    <div class="txt-content">
      El ahorro energético, la independencia de las compañías eléctricas
      convencionales o la reducción de la huella de carbono son algunas de las
      ventajas de la energía solar.
    </div>

    <div class="cards-wrapper flex-row space-between flex-wrap responsive">
      <div class="card-wrapper">
        <app-card
          size="l"
          imgSrc="../../../assets/images/installations/Cambados.jpeg"
          iconSrc="../../../assets/icons/solar-42-green.png"
          title="¿Cuál es la vida útil de un sistema fotovoltaico?"
          txt="Un sistema fotovoltaico tiene al menos una vida útil de 25 años y algunos paneles pueden proporcionar energía renovable hasta 30 años."
        ></app-card>
      </div>
      <div class="card-wrapper">
        <app-card
          size="l"
          imgSrc="../../../assets/images/installations/VilagarcíadeArousa.jpeg"
          iconSrc="../../../assets/icons/cloudy-42-green.png"
          title="¿Qué sucede cuándo no hay producción solar?"
          txt="En días nublados o por las noches el sistema permite abastecerse de la red energética asegurando el suministro necesario para el correcto funcionamiento de las diferentes fuentes de consumo (electrodoméstico, iluminación, etc.)."
        ></app-card>
      </div>
      <div class="card-wrapper">
        <app-card
          size="l"
          imgSrc="../../../assets/images/installations/SalvaterraDeMiño.jpeg"
          iconSrc="../../../assets/icons/battery-42-green.png"
          title="¿Qué sucede si produzco más de lo que consumo?"
          txt="Si el sistema dispone de batería, el excedente se acumula en ellas para poder ser utilizado en momentos de baja producción. En caso de no disponer de batería, el excedente se incorpora a la red y se realiza una compensación de excedentes."
        ></app-card>
      </div>
      <div class="card-wrapper">
        <app-card
          size="l"
          imgSrc="../../../assets/images/installations/Esgos.jpeg"
          iconSrc="../../../assets/icons/investment-42-green.png"
          title="¿En cuánto tiempo se amortiza la inversión del sistema fotovoltaico?"
          txt="Dependiendo del tipo de instalación, se prevé la amortización en un lapso de entre 7 y 10 años aproximadamente siendo esto muy rentable debido a la extensa vida útil del mismo."
        ></app-card>
      </div>
    </div>
  </main>
</section>
