<footer class="footer section-wrapper" id="contacto">
  <div class="footer-container">
    <a href="#inicio" class="logo-container">
      <img class="img-width" src="../../../assets/images/logo/LOGOSINFONDOCORTADOblanco.png" alt="">
    </a>
    <div class="social-icons-container">
      <a href="https://www.facebook.com/INSTALACIONESFPB" target="_blank">
        <img src="../../../assets/icons/facebook-50-white.png" alt="">
      </a>
      <img src="../../../assets/icons/instagram-50-white.png" alt="">
    </div>
  </div>
  <div class="width-contact">
    <div class="direction-class">
      <h1 class="title-class">Contacto</h1>
      <div class="contact-flex">
        <img class="icon-width" src="../../../assets/icons/google-maps-50-green.png" alt="">
        <a class="text-class margin-left"
          href="https://www.google.com/maps?q=Avenida+Evaristo+Correa+Calderón+46,+Baralla" target="_blank">Avenida
          Evaristo Correa Calderón, 46, Baralla</a>
      </div>
      <div class="contact-flex">
        <img class="icon-width" src="../../../assets/icons/phone-50-green.png" alt="">
        <p class="text-class margin-left phone">982-903-886 / 620-733-501 / 697-823-624</p>
      </div>
      <div class="contact-flex">
        <img class="icon-width" src="../../../assets/icons/email-50-green.png" alt="">
        <a class="text-class margin-left" href="mailto:info@fpbsolar.com">info@fpbsolar.com</a>
      </div>
    </div>
    <div class="phone-class flex-column">
      <h1 class="title-class margin-bottom">Secciones</h1>
      <a href="#nosotros" class="text-class margin-bottom">Nosotros</a>
      <a href="#instalaciones" class="text-class margin-bottom">Obras Ejecutadas</a>
      <a href="#preguntas" class="text-class margin-bottom">Preguntas Frecuentes</a>
      <a href="#formulario" class="text-class margin-bottom">Estudio Personalizado</a>
    </div>
  </div>
</footer>
