.footer{
  background-color: #1A3240;
  padding: 3em 0em 0em 0em;
  .container{
    max-width: 1280px;
    display: flex;

  }
  .container-width{
    width: 100%;
  }
  .title-div{
    margin: 0% 30% 0% 0%;
    padding: 1em 1em 1em 1em;
    margin-right: 30%;
    margin-left: 0%;

  }
}
