<footer class="footer section-wrapper">
  <div class="footer-container">
    <div class="logo-container">
      <img class="img-width" src="../../../assets/images/logo/LOGOSINFONDOCORTADOblanco.png" alt="">
    </div>
    <div class="social-icons-container">
      <img src="../../../assets/icons/facebook-50-white.png" alt="">
      <img src="../../../assets/icons/instagram-50-white.png" alt="">
    </div>
  </div>
  <div class="width-contact">
    <div class="direction-class">
      <h1 class="title-class">Contacto</h1>
      <div class="contact-flex">
        <img class="icon-width" src="../../../assets/icons/google-maps-50-green.png" alt="">
        <a class="text-class margin-left" href="https://www.google.com/maps?q=Avenida+Evaristo+Correa+Calderón+46,+Baralla" target="_blank">Avenida Evaristo Correa Calderón, 46, Baralla</a>
      </div>
      <div class="contact-flex">
        <img class="icon-width" src="../../../assets/icons/phone-50-green.png" alt="">
        <p class="text-class margin-left">982-903-886 / 620-733-501 / 697-823-624</p>
      </div>
      <div class="contact-flex">
        <img class="icon-width" src="../../../assets/icons/email-50-green.png" alt="">
        <a class="text-class margin-left" href="mailto:info@fpbsolar.com">info@fpbsolar.com</a>
      </div>
    </div>
    <div class="phone-class">
      <h1 class="title-class margin-bottom">Secciones</h1>
      <p class="text-class margin-bottom">Nosotros</p>
      <p class="text-class margin-bottom">Obras Ejecutadas</p>
      <p class="text-class margin-bottom">Preguntas Frecuentes</p>
      <p class="text-class margin-bottom">Comenzar</p>
    </div>
  </div>
</footer>
