header{
    max-height: 12vh;
    background: transparent;
    width: 100vw;
}

.logo{
    background: center / contain url('../../../assets/images/logo/LOGO.png') no-repeat;
    height: 100%;
    width: auto;
}