  <div class="navbar">
    <div class="logo"></div>
    <button class="hamburger" [ngClass]="{'menu-open': isMenuOpen}" (click)="toggleMenu()">&#9776;</button>
    <ul class="nav-links" [ngClass]="{'menu-open': isMenuOpen}">
      <li><a href="#nosotros">Nosotros</a></li>
      <li><a href="#instalaciones">Obras Ejecutadas</a></li>
      <li><a href="#preguntas">Preguntas Frecuentes</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
    <a href="#formulario" class="primary-btn btn">Comenzar</a>
  </div>
