<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<section
  class="wrapper width-100 flex-column align-center"
  id="formulario"
  data-aos="zoom-out-up"
  data-aos-duration="2000"
>
  <div class="bckgr"></div>

  <main class="steps-wrapper">
    <div *ngIf="step === 1" class="step width-75" [@fadeInOut]="step === 1">
      <div class="title">¿Dónde quieres instalar tus placas?</div>
      <div class="options width-100">
        <div class="option">
          <button
            class="secondary-btn width-100"
            [class.selected]="
              installationForm.get('installationType')?.value === 1
            "
            (click)="setInstallationType(1)"
          >
            HOGAR
          </button>
        </div>
        <div class="option">
          <button
            class="secondary-btn width-100"
            [class.selected]="
              installationForm.get('installationType')?.value === 2
            "
            (click)="setInstallationType(2)"
          >
            INDUSTRIA
          </button>
        </div>
        <div class="option">
          <button
            class="secondary-btn width-100"
            [class.selected]="
              installationForm.get('installationType')?.value === 3
            "
            (click)="setInstallationType(3)"
          >
            AMPLIACIÓN
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="step === 2" class="step width-75" [@fadeInOut]="step === 2">
      <div class="title">¿Dónde quieres instalar tus placas?</div>
      <div class="options width-100">
        <div class="option">
          <button
            class="secondary-btn width-100"
            [class.selected]="installationForm.get('place')?.value === 1"
            (click)="setPlace(1)"
          >
            CASA
          </button>
        </div>
        <div class="option">
          <button
            class="secondary-btn width-100"
            [class.selected]="installationForm.get('place')?.value === 2"
            (click)="setPlace(2)"
          >
            PISO
          </button>
        </div>
        <div class="option">
          <button
            class="secondary-btn width-100"
            [class.selected]="installationForm.get('place')?.value === 3"
            (click)="setPlace(3)"
          >
            COMUNIDAD DE VECINOS
          </button>
        </div>
        <div class="option">
          <button
            class="secondary-btn width-100"
            [class.selected]="installationForm.get('place')?.value === 4"
            (click)="setPlace(4)"
          >
            NEGOCIO O EMPRESA
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="step === 3" class="step width-75" [@fadeInOut]="step === 3">
      <div class="title">¿Cuál es tu gasto mensual en electricidad?</div>
      <div class="options width-100">
        <div class="option">
          <button
            class="secondary-btn width-100"
            [class.selected]="
              installationForm.get('monthlyExpenditure')?.value === 1
            "
            (click)="setMonthlyExpenditure(1)"
          >
            Menos de 60€
          </button>
        </div>
        <div class="option">
          <button
            class="secondary-btn width-100"
            [class.selected]="
              installationForm.get('monthlyExpenditure')?.value === 2
            "
            (click)="setMonthlyExpenditure(2)"
          >
            De 60€ a 140€
          </button>
        </div>
        <div class="option">
          <button
            class="secondary-btn width-100"
            [class.selected]="
              installationForm.get('monthlyExpenditure')?.value === 3
            "
            (click)="setMonthlyExpenditure(3)"
          >
            Más de 140€
          </button>
        </div>
        <div class="option">
          <button
            class="secondary-btn width-100"
            [class.selected]="
              installationForm.get('monthlyExpenditure')?.value === 4
            "
            (click)="setMonthlyExpenditure(4)"
          >
            No lo sé
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="step === 4" class="step width-75" [@fadeInOut]="step === 4">
      <div class="title">Tus datos:</div>

      <form
        class="form-wrapper"
        novalidate
        [formGroup]="personalDataForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="flex-row space-between width-100">
          <div class="input-wrapper">
            * Nombre/s:
            <input type="text" formControlName="firstName" />
          </div>

          <div class="input-wrapper">
            * Apellido/s:
            <input type="text" formControlName="lastName" />
          </div>
        </div>

        <div class="flex-row space-between width-100">
          <div class="input-wrapper">
            * Correo electrónico:
            <input type="text" formControlName="email" />
          </div>

          <div class="input-wrapper">
            * Teléfono:
            <input type="number" formControlName="phone" />
          </div>
        </div>

        <div class="flex-row space-between width-100">
          <div class="input-wrapper">
            * Código postal:
            <input type="number" formControlName="cp" />
          </div>

          <div class="input-wrapper">
            * Población:
            <input type="text" formControlName="population" />
          </div>
        </div>

        <button
          class="primary-btn"
          [class.disabled]="
            installationForm.invalid || personalDataForm.invalid
          "
          type="submit"
        >
          Enviar
        </button>
      </form>
    </div>

    <button
      *ngIf="step > 1"
      class="back-btn"
      (click)="backStep()"
      [@fadeInOut]="step > 1"
    >
      <img src="../../../assets/icons/back-50.png" alt="Volver" width="60%" />
    </button>
    <button
      *ngIf="
        (step === 1 &&
          installationForm.get('installationType')?.value !== null) ||
        (step === 2 && installationForm.get('place')?.value !== null) ||
        (step === 3 &&
          installationForm.get('monthlyExpenditure')?.value !== null)
      "
      [@fadeInOut]="
        (step === 1 &&
          installationForm.get('installationType')?.value !== null) ||
        (step === 2 && installationForm.get('place')?.value !== null) ||
        (step === 3 &&
          installationForm.get('monthlyExpenditure')?.value !== null)
      "
      class="next-btn"
      (click)="nextStep()"
    >
      <img src="../../../assets/icons/next-50.png" alt="Volver" width="60%" />
    </button>
  </main>

  <div class="modal-wrapper" *ngIf="sendedMail">
    <div class="modal flex-column flex-center">
      <div class="close-icon" (click)="closeSendedModal()"></div>
      <h3 class="terciary-color">Sus datos han sido enviados correctamente!</h3>
      <div class="txt">
        Gracias por elegirnos, en breve nos pondremos en contacto contigo.
      </div>
    </div>
  </div>

  <div class="modal-wrapper" *ngIf="errorMail">
    <div class="modal flex-column flex-center">
      <div class="close-icon" (click)="closeErrorModal()"></div>
      <h3 class="terciary-color">Sus datos no han podido enviarse!</h3>
      <div class="txt">Intente nuevamente.</div>
    </div>
  </div>
</section>
