.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  main {
    background-color: #f1f1f1;

    .cards-wrapper{
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
        position: relative;
        z-index: 1;
    }

    .arrow-wrapper{
      position: fixed;
      bottom: 3vh;
      right: 1vw;
      z-index: 20;
      mix-blend-mode: multiply;


      .arrow-up{
        width: 50px;
        height: 50px;
        background: center / contain url(../assets/icons/arrow-up-50.png) no-repeat;
      }
    }

  }
}
