<div class="wrapper">
  <app-navbar></app-navbar>
  <main>
      <app-home></app-home>
      <div class="cards-wrapper">
        <app-card iconSrc="../../assets/icons/euro-50.png" title="Title" txt="Card test"></app-card>
        <app-card iconSrc="../../assets/icons/euro-50.png" title="Title" txt="Card test"></app-card>
        <app-card iconSrc="../../assets/icons/euro-50.png" title="Title" txt="Card test"></app-card>
        <app-card iconSrc="../../assets/icons/euro-50.png" title="Title" txt="Card test"></app-card>

      </div>
      <app-form></app-form>
      <app-whoareus></app-whoareus>
  </main>

  <footer>

  </footer>
</div>
