.container {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .bckgr-img {
    width: 100%;
    height: 100%;
    transform-origin: center center;
    animation: zoomIn 7s ease-in infinite;
    object-fit: cover;
    opacity: 0.9;
    background-color: transparent;
  }

  .gradient {
    width: 100vw;
    height: 65vh;
    position: absolute;
    top: 0;
    z-index: 2;
    background: linear-gradient(
      180deg,
      rgba(32, 98, 161, 0.9) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .title {
    position: absolute;
    top: 31vh;
    font-size: 2rem;
    color: #ffffff;
    max-width: 900px;
    z-index: 3;
  }

  .welcome {
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-family: "titillium-web-light", sans-serif;
  }
  .title-h1 {
    font-family: "titillium-bold-web";
    line-height: 1;
    font-size: 55px;
    text-align: center;
    margin: 0;
    padding: 0.4em 0;
  }
  .sub-title {
    padding: 0 1.1em;
    font-size: 24px;
    text-align: center;
    margin: 0;
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .button-one {
    width: 100%;
    background-color: #f6d707;
    color: #1a3240;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
    font-size: 18px;
    border-width: 2px;
    border-color: #f6d707;
    text-decoration: none;

    &:hover {
      background-color: #1a3240;
      color: #ffff;
    }
  }
  .button-two {
    width: 100%;
    background-color: #02010100;
    color: #ffffff;
    padding: 20px 40px;
    border-radius: 5px; /* Redondear las esquinas */
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
    font-size: 18px;
    border-width: 2px 2px 2px 2px;
    border-color: #ffffff;
    border: 2px solid #ffffff;
    text-decoration: none;
    &:hover {
      background-color: #1a3240;
      color: #ffff;
      border: 2px solid #1a3240;
    }
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 767px) {
  .container {
    .welcome {
      font-size: 13px;
    }
    .title-h1{
      font-size: 32px;
    }
    .sub-title{
      font-size: 18px;
    }
    .buttons{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .button-one{
      margin: 0;
      width: 80%;
    }
    .button-two{
      margin: 0;
      margin-top: 1rem;
      width: 80%;
    }
  }
}
