<div id="inicio" class="container">
  <img
    [src]="images[currentImageIndex]"
    alt=""
    class="bckgr-img zoomed"
  >
  <div class="gradient"></div>
  <div class="title">
    <h6 class="welcome">BIENVENIDO A FPB SOLAR</h6>
    <h1 class="title-h1">Utilizar el sol como energía reduce la huella de carbono</h1>
    <h4 class="sub-title">Requiere de menos mantenimiento por lo que los costes se reducen significativamente!</h4>
    <div class="buttons">
      <a href="#formulario" class="button-one flex-row flex-center">Empezar</a>
      <a href="#preguntas" class="button-two flex-row flex-center">Descubrir Más</a>

      <!-- <button class="button-two">Descubrir Más</button> -->
    </div>
  </div>

</div>

