<div id="inicio" class="container">
  <img
    [src]="images[currentImageIndex]"
    alt=""
    class="bckgr-img zoomed"
  >
  <div class="gradient"></div>
  <div class="title">
    <h6 class="welcome">BIENVENIDO A FPB SOLAR</h6>
    <h1 class="title-h1">Utilizar el sol como energía reduce significativamente la huella de carbono y los costes!</h1>
    <h4 class="sub-title"> Comieza ahora tu ahorro y cuida el planeta.</h4>
    <div class="buttons">
      <a href="#formulario" class="button-one flex-row flex-center">Estudio Personalizado</a>
      <a href="#preguntas" class="button-two flex-row flex-center">Descubrir Más</a>
    </div>
  </div>

</div>

