@import "../../../variables";

section {
  height: 120vh;
  position: relative;
  z-index: 3;
  
  &.section-wrapper{
    // padding: 0 5vw;
    margin-top: 6em;
  }
  .principal-content {
    padding: 8% 0;
    width: 42%;
    height: 80%;

    header {
      font-weight: bold;
      font-family: "titillium-web-light", sans-serif;
      font-size: 0.9em;
    }

    main {
      .title {
        font-size: 2.7em;
        font-family: "titillium-bold-web";
        line-height: 1;
      }
      .txt {
        color: $grey-light;
        font-family: "inter", sans-serif;
      }
    }
  }

  .secondary-content {
    width: 48%;
    height: 80%;
    position: relative;
    img {
      border-radius: 12px;
    }
    .card-wrapper{
        position: absolute;
        top: 50%;
        left: -4%;
    }
  }

  .logo{
    height: 8vw;
    width: 16vw;

    &.edp{
      background: center / contain url(../../../assets/images/logos/EDP_Renováveis_2022.svg.png) no-repeat;
    }

    &.light{
      background: center / contain url(../../../assets/images/logos/logo-light.png) no-repeat;
    }

    &.solar360{
      background: center / contain url(../../../assets/images/logos/Logo-Solar360.png) no-repeat;
    }

    &.galpsolar{
      background: center / contain url(../../../assets/images/logos/Logo_GalpSolar_17012022.png) no-repeat;
    }

    
  }
}
