<section class="section-wrapper flex-row space-between align-center" id="whoareus">
  <div class="principal-content flex-column space-between">
    <header class="terciary-color">QUIÉNES SOMOS</header>
    <main>
      <div class="title">
        FPBsolar es una empresa especializada en instalaciones fotovoltaicas
      </div>
      <p class="txt">
        Dispone de personal técnico de amplia experiencia en las mismas y cuenta
        con más de 300 instalaciones en los últimos dos años de ejecución,
        cumpliendo con las normas y exigencias de las empresas lideres del
        sector.
      </p>
    </main>
    <footer>
      <button class="primary-btn">Descubrir más</button>
    </footer>
  </div>

  <div class="secondary-content">
    <div class="img flex-row flex-end">
      <img
        src="../../../assets/images/installations/Vilarmaior.jpeg"
        alt=""
        width="95%"
      />
      <div class="card-wrapper">
        <app-card
          iconSrc="../../../assets/icons/approval-50.png"
          title="CONFIANZA"
          txt="Garantía post-instalación"
          size="m"
        ></app-card>
      </div>
    </div>
  </div>
</section>
