<section class="section-wrapper mt-3" id="nosotros" >
  <div
    [class.long-view]="!shortView"
    class="content flex-row space-between height-80 responsive"
  >
    <div class="principal-content flex-column space-between" data-aos="fade-right" data-aos-duration="1500">
      <header class="terciary-color">QUIÉNES SOMOS</header>
      <main>
        <div class="title">
          FPBsolar es una empresa especializada en instalaciones fotovoltaicas.
        </div>
        <p class="txt">
          Disponemos de personal técnico con amplia experiencia en las mismas y
          cuenta con más de 300 instalaciones en los últimos dos años de
          ejecución, cumpliendo con las normas y exigencias de las empresas
          líderes del sector.
        </p>
      </main>
      <footer>
        <a href="#info" (click)="showMore()" class="primary-btn"
          >Descubrir más</a
        >
      </footer>
    </div>

    <div class="secondary-content">
      <div class="img flex-row flex-end ">
        <img
          data-aos="fade-left" data-aos-duration="1500"
          src="../../../assets/images/installations/Vilarmaior.jpeg"
          alt=""
          width="95%"
          class="margin"
        />
        <div class="card-wrapper" data-aos="zoom-in" data-aos-duration="1500">
          <app-card
            iconSrc="../../../assets/icons/approval-50.png"
            title="CONFIANZA"
            txt="Garantía post-instalación"
            size="m"
          ></app-card>
        </div>
      </div>
    </div>
  </div>

  <div
    class="more-data flex-row space-between align-center"
    *ngIf="!shortView"
    id="info"
  >
    <div class="card flex-column align-center">
      <div>
        <img
          class="icon"
          src="../../assets/icons/fingerprint-50-white.png"
          alt=""
        />
      </div>
      <p class="txt-content">
        Atención y estudio personalizado en base a las necesidades de los
        clientes.
      </p>
    </div>
    <app-card
      size="s"
      iconSrc="../../assets/icons/solar-panel-50-green.png"
      title="Ejecución e instalación de sistema fotovoltaico."
      txt=""
    ></app-card>
    <app-card
      size="s"
      iconSrc="../../assets/icons/invoice-50-green.png"
      title="Gestión de subvenciones y financiación de obra."
      txt=""
    ></app-card>
    <app-card
      size="s"
      iconSrc="../../assets/icons/web-analytics-50-green.png"
      title="Monitorización Web/App"
      txt=""
    ></app-card>
  </div>

  <div class="flex-column align-center logos-wrapper" >
    <header class="terciary-color">CONFÍAN EN NOSOTROS</header>
    <div
      class="flex-row width-100 space-between heigh-20 pt-2"
      [@fadeInOut]="true"
    >
      <div class="logo-wrapper bckgr-light" data-aos="zoom-in" data-aos-duration="1000">
        <div class="logo edp width-22"></div>
      </div>
      <div class="logo-wrapper bckgr-dark" data-aos="zoom-in" data-aos-duration="1000">
        <div class="logo light width-22"></div>
      </div>
      <div class="logo-wrapper bckgr-light" data-aos="zoom-in" data-aos-duration="1000">
        <div class="logo galpsolar width-22"></div>
      </div>
      <div class="logo-wrapper bckgr-dark" data-aos="zoom-in" data-aos-duration="1000">
        <div class="logo solar360 width-22"></div>
      </div>
    </div>
  </div>
</section>
