<section class="section-wrapper mt-3 " id="whoareus">
  <div class="flex-row space-between height-80 responsive">
    <div class="principal-content flex-column space-between">
      <header class="terciary-color">QUIÉNES SOMOS</header>
      <main>
        <div class="title">
          FPBsolar es una empresa especializada en instalaciones fotovoltaicas.
        </div>
        <p class="txt">
          Dispone de personal técnico con amplia experiencia en las mismas y
          cuenta con más de 300 instalaciones en los últimos dos años de
          ejecución, cumpliendo con las normas y exigencias de las empresas
          líderes del sector.
        </p>
      </main>
      <footer>
        <button class="primary-btn">Descubrir más</button>
      </footer>
    </div>

    <div class="secondary-content">
      <div class="img flex-row flex-end">
        <img
          src="../../../assets/images/installations/Vilarmaior.jpeg"
          alt=""
          width="95%"
        />
        <div class="card-wrapper">
          <app-card
            iconSrc="../../../assets/icons/approval-50.png"
            title="CONFIANZA"
            txt="Garantía post-instalación"
            size="m"
          ></app-card>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-row width-100 space-between pt-2 heigh-20" [@fadeInOut]="true">
    <div class="logo edp width-22"></div>
    <div class="logo light width-22"></div>
    <div class="logo solar360 width-22"></div>
    <div class="logo galpsolar width-22"></div>
  </div>
</section>
