<section class="section-wrapper flex-column align-center" id="instalaciones">
  <header class="terciary-color">NUESTRAS INSTALACIONES</header>

  <div class="title">Más de 300 instalaciones cumpliendo con las normas y exigencias de las empresas líderes del sector.</div>
  <div class="flex-row space-between width-100 responsive">
    <div class="map">
      <img src="../../../assets/images/mapa-galicia.png" alt="" width="100%" />
    </div>
    <div class="places-wrapper flex-row space-around align-center flex-wrap">
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>A Bola</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>A Folgueira</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>A Fonsagrada</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>A Guarda</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>A Laracha</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Agro de Muiño</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>As Donas</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Baiona</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Baltar</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Cambados</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Carral</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Esgos</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Frades</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Gondomar</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Louros</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Mos</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Moaña</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Mourente</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Nigrán</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Nogueira de Ramuín</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Noicella</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>O Porriño</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Ofa</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Oleiros</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Pereiro de Aguiar</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Pontevedra</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Salvaterra de Miño</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Sarreaus</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Silleda</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Taboada</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Taboadela</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Teo Balcaide</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Toen</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Touro</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Tui</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Vigo</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Vilarmaior</span>
      </div>
      <div class="places flex-row align-center">
        <div class="icon"></div>
        <span>Villagarcía de Arousa</span>
      </div>
    </div>
  </div>
</section>
