<section class="flex-row flex-center">
  <div class="wrapper flex-row p-2 align-center">
      <div>
        <img src="../../../assets/images/fpb-installation.png" alt="" />
      </div>
      <div class="flex-row flex-wrap">
        <div class="item flex-row">
          <div>
            <div class="icon"></div>
          </div>
          <div>
            <div class="title">Estructura de aluminio</div>
            <div class="txt">
              Para instalar los paneles solares en tu tejado se debe colocar unos
              soportes de aluminio anclado a la cubierta.
            </div>
          </div>
        </div>
        <div class="item flex-row">
          <div>
            <div class="icon"></div>
          </div>
          <div>
            <div class="title">Paneles solares</div>
            <div class="txt">
              Las placas solares son las piezas centrales de la instalación. Se
              instalan generalmente en el tejado y se encargan de captar la luz
              solar.
            </div>
          </div>
        </div>
        <div class="item flex-row">
          <div>
            <div class="icon"></div>
          </div>
          <div>
            <div class="title">Inversor</div>
            <div class="txt">
              El equipo inversor se encarga de transformar la energía captada por
              las placas (corriente continua) en corriente alterna, es con la que
              funcionan los electrodomésticos y la iluminación del hogar.
            </div>
          </div>
        </div>
        <div class="item flex-row">
          <div>
            <div class="icon"></div>
          </div>
          <div>
            <div class="title">Cableado y protecciones</div>
            <div class="txt">
              Su función es encargarse de que todo funcione de forma segura.
            </div>
          </div>
        </div>
        <div class="item flex-row">
          <div>
            <div class="icon"></div>
          </div>
          <div>
            <div class="title">Sistema de monitorización</div>
            <div class="txt">
              La aplicación registra la energía producida por la instalación y el
              consumo del hogar.
            </div>
          </div>
        </div>
        <div class="item flex-row">
          <div>
            <div class="icon"></div>
          </div>
          <div>
            <div class="title">Batería</div>
            <div class="txt">
              Con las baterías puedes almacenar la energía que producen las placas
              para que puedan consumirlas en otros momentos, como días de menos
              producción o por la noche.
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
