<section class="section-wrapper flex-column align-center">
  <header class="terciary-color">CÓMO FUNCIONA?</header>
  <main class="flex-column align-center space-between">
    <div class="title">Partes de una instalación</div>

    <div class="wrapper width-100 flex-column align-center">
      <div class="img-wrapper width-75 pt-2">
        <img
          src="../../../assets/images/installation-parts.jpg"
          alt=""
          width="100%"
        />
      </div>

      <div class="content-wrapper flex-row flex-wrap space-between pt-2">
        <div class="item flex-row">
          <div>
            <div class="icon metal"></div>
          </div>
          <div>
            <div class="title">Estructura de aluminio</div>
            <div class="txt">
              Para instalar los paneles solares en tu tejado se deben colocar
              unos soportes de aluminio anclado a la cubierta.
            </div>
          </div>
        </div>

        <div class="item flex-row">
          <div>
            <div class="icon solar-panel"></div>
          </div>
          <div>
            <div class="title">Paneles solares</div>
            <div class="txt">
              Las placas solares son las piezas centrales de la instalación. Se
              instalan generalmente en el tejado y se encargan de captar la luz
              solar.
            </div>
          </div>
        </div>

        <div class="item flex-row">
          <div>
            <div class="icon energy-box"></div>
          </div>
          <div>
            <div class="title">Inversor</div>
            <div class="txt">
              El equipo inversor se encarga de transformar la energía captada
              por las placas (corriente continua) en corriente alterna que es con
              la que funcionan los electrodomésticos y la iluminación del hogar.
            </div>
          </div>
        </div>

        <div class="item flex-row">
          <div>
            <div class="icon protection"></div>
          </div>
          <div>
            <div class="title">Cableado y protecciones</div>
            <div class="txt">
              Su función es encargarse de que todo funcione de forma segura.
            </div>
          </div>
        </div>

        <div class="item flex-row">
          <div>
            <div class="icon monitoring"></div>
          </div>
          <div>
            <div class="title">Sistema de monitorización</div>
            <div class="txt">
              La aplicación registra la energía producida por la instalación y
              el consumo del hogar.
            </div>
          </div>
        </div>

        <div class="item flex-row">
          <div>
            <div class="icon battery"></div>
          </div>
          <div>
            <div class="title">Batería</div>
            <div class="txt">
              Con las baterías puedes almacenar la energía que producen las
              placas para que puedas consumirlas en otros momentos, como días de
              menos producción o por la noche.
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
