@import "./_variables";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "titillium-web", sans-serif;
  color: $grey-dark;
  font-size: 16px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.primary-btn {
  background-color: #f6d707;
  text-align: center;
  color: #1a3240;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-size: 1em;
  font-family: "inter", sans-serif;

  &:hover {
    background-color: #1a3240;
    color: #ffff;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  color: $grey-dark;

  &.disabled {
    cursor: inherit;
    opacity: 0.5;
    background-color: $grey-light;
    &:hover {
      background-color: $grey-light;
      color: inherit;
    }
  }
}

input[type="radio"]:after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  // top: 0;
  // left: 0;
  // position: relative;
  background-color: #fff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid $grey-dark;
}

input[type="radio"]:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  // top: -1px;
  // left: -1px;
  // position: relative;
  background-color: $secondary;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid $grey-dark;
}

.width-100 {
  width: 100%;
}

.width-30 {
  width: 30%;
}

.width-22 {
  width: 22%;
}

.section-wrapper {
  width: 100vw;
  padding: 5vw;
}

.primary-color {
  color: $primary;
}
.secondary-color {
  color: $secondary;
}
.terciary-color {
  color: $terciary;
}

@font-face {
  font-family: "halyard-display";
  src: url("./assets/fonts/Halyard\ Display.otf") format("opentype");
}

@font-face {
  font-family: "stolzl-medium";
  src: url("./assets/fonts/Stolzl-Medium.otf") format("opentype");
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter.otf") format("opentype");
}

@font-face {
  font-family: "inter-bold";
  src: url("./assets/fonts/Inter-bold.otf") format("opentype");
}

@font-face {
  font-family: "titillium-bold-web";
  src: url("./assets/fonts/Titillium\ WebBold.otf") format("opentype");
}

@font-face {
  font-family: "titillium-web";
  src: url("./assets/fonts/Titillium\ Web.otf") format("opentype");
}

@font-face {
  font-family: "titillium-web-light";
  src: url("./assets/fonts/Titillium\ WebThin\ V2.otf") format("opentype");
}
