* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "titillium-web", sans-serif;
  color: #1a3240;
  font-size: 16px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.primary-btn {
  background-color: #f6d707;
  text-align: center;
  color: #1a3240;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  font-size: 1em;
  font-family: "inter", sans-serif;
}

.primary-btn:hover {
  background-color: #1a3240;
  color: #ffff;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  color: #1a3240;
}

button.disabled {
  cursor: inherit;
  opacity: 0.5;
  background-color: #868686;
}

button.disabled:hover {
  background-color: #868686;
  color: inherit;
}

input[type="radio"]:after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #fff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #1a3240;
}

input[type="radio"]:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #f6d707;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #1a3240;
}

.width-100 {
  width: 100%;
}

.width-30 {
  width: 30%;
}

.width-22 {
  width: 22%;
}

.height-80 {
  height: 80%;
}

.height-20 {
  height: 20%;
}

.pt-2 {
  padding-top: 2em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.section-wrapper {
  width: 100vw;
  padding: 0 5vw;
}

.primary-color {
  color: #1f64ae;
}

.secondary-color {
  color: #f6d707;
}

.terciary-color {
  color: #6db645;
}

@font-face {
  font-family: "halyard-display";
  src: url("./assets/fonts/Halyard Display.otf") format("opentype");
}

@font-face {
  font-family: "stolzl-medium";
  src: url("./assets/fonts/Stolzl-Medium.otf") format("opentype");
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter.otf") format("opentype");
}

@font-face {
  font-family: "inter-bold";
  src: url("./assets/fonts/Inter-bold.otf") format("opentype");
}

@font-face {
  font-family: "titillium-bold-web";
  src: url("./assets/fonts/Titillium WebBold.otf") format("opentype");
}

@font-face {
  font-family: "titillium-web";
  src: url("./assets/fonts/Titillium Web.otf") format("opentype");
}

@font-face {
  font-family: "titillium-web-light";
  src: url("./assets/fonts/Titillium WebThin V2.otf") format("opentype");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/*# sourceMappingURL=styles.css.map */