.wrapper{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 5rem;
    border-radius: 12px;
    border: 2px solid #ecb74d;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .title{
        font-size: 30px;
    }

    .options{
        display: flex;
        padding-top: 2em;
        
        .option{
            padding: 0 2em;
        }
    }
}