<div class="wrapper">
  <div class="steps-wrapper">
    <div *ngIf="step === 1" class="step">
      <div class="title">¿Dónde quieres instalar tus placas?</div>
      <div class="options">
        <div class="option width-30" (click)="setInstallationType(1)">
          <img src="../../../assets/icons/home-50.png" alt="" />
          <span>HOGAR</span>
        </div>
        <div class="option width-30" (click)="setInstallationType(2)">
          <img src="../../../assets/icons/company2-50.png" alt="" />
          <span>INDUSTRIAL</span>
        </div>
        <div class="option width-30" (click)="setInstallationType(3)">
          <img src="../../../assets/icons/solar-energy-50.png" alt="" />
          <span>AMPLIACIÓN</span>
        </div>
      </div>
    </div>
    <div *ngIf="step === 2" class="step">
      <!-- <div class="title">¿Dónde quieres autoconsumo?</div> -->
      <div class="options">
        <div class="option width-22" (click)="setPlace(1)">
          <img src="../../../assets/icons/house-50.png" alt="" />
          <span>CASA</span>
        </div>
        <div class="option width-22" (click)="setPlace(2)">
          <img src="../../../assets/icons/apartment-50.png" alt="" />
          <span>PISO</span>
        </div>
        <div class="option width-22" (click)="setPlace(3)">
          <img src="../../../assets/icons/neighborhood-50.png" alt="" />
          <span>COMUNIDAD DE VECINOS</span>
        </div>
        <div class="option width-22" (click)="setPlace(4)">
          <img src="../../../assets/icons/business-50.png" alt="" />
          <span>NEGOCIO O EMPRESA</span>
        </div>
      </div>
    </div>

    <div *ngIf="step === 3" class="step">
      <div class="title">¿Cuál es tu gasto mensual en electricidad?</div>
      <div class="options">
        <div class="option width-22" (click)="setMonthlyExpenditure(1)">
          <img src="../../../assets/icons/euro-50.png" alt="" />
          <span>Menos de 60€</span>
        </div>
        <div class="option width-22" (click)="setMonthlyExpenditure(2)">
          <img src="../../../assets/icons/euro-50.png" alt="" />
          <span>De 60€ a 140€</span>
        </div>
        <div class="option width-22" (click)="setMonthlyExpenditure(3)">
          <img src="../../../assets/icons/euro-50.png" alt="" />
          <span>Más de 140€</span>
        </div>
        <div class="option width-22" (click)="setMonthlyExpenditure(4)">
          <img src="../../../assets/icons/dont-know-50.png" alt="" />
          <span>No lo sé</span>
        </div>
      </div>
    </div>

    <div *ngIf="step === 4" class="step">
      <div class="title">Tus datos:</div>

      <form
        class="form-wrapper"
        novalidate
        [formGroup]="personalDataForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="input-wrapper">
          * Nombre:
          <input type="text" formControlName="firstName" />
        </div>

        <div class="input-wrapper">
          * Apellidos:
          <input type="text" formControlName="lastName" />
        </div>

        <div class="flex-row space-between width-100">
          <div class="input-wrapper">
            * Correo electrónico:
            <input type="text" formControlName="email" />
          </div>

          <div class="input-wrapper">
            * Teléfono:
            <input type="text" formControlName="phone" />
          </div>
        </div>

        <div class="flex-row space-between width-100">
          <div class="input-wrapper">
            * Código postal:
            <input type="text" formControlName="cp" />
          </div>

          <div class="input-wrapper">
            * Población:
            <input type="text" formControlName="population" />
          </div>
        </div>

        <button class="primary-button" type="submit">Enviar</button>
      </form>
    </div>

    <button *ngIf="step > 1" class="back-btn" (click)="backStep()">
      <img src="../../../assets/icons/back-50.png" alt="Volver" width="60%">
    </button>
  </div>
</div>
